@import "../../App/colors";

@vertical-line-width: 3px;

.chart-content {
  padding-bottom: 10px;
  p {
    margin: 0;
  }
  .chart {
    padding: 0 10px ;
    .chart-vertical-line {
      height: 40px;
      width: @vertical-line-width;
      background: @primary-gray;
      display: inline-block;
    }
    .chart-box-container {
      @vertical-lines-offset: @vertical-line-width * 2;
      width: calc(~"100% - @{vertical-lines-offset}");
      width: -moz-calc(~"100% - @{vertical-lines-offset}");
      width: -webkit-calc(~"100% - @{vertical-lines-offset}");
      width: -ms-calc(~"100% - @{vertical-lines-offset}");
      width: -o-calc(~"100% - @{vertical-lines-offset}");

      height: 30px;
      border-bottom: 1px solid @primary-gray;
      border-top: 1px solid @primary-gray;
      display: inline-block;

      .chart-box {
        height: 28px;
        display: inline-block;
        margin-bottom: 5px;

        &.chart-box-green {
          background: @primary-green;
        }
        &.chart-box-yellow {
          background: @primary-yellow;
        }
      }
    }
  }

  .chart-bubble {
    position: relative;
    padding: 5px 8px;
    top: 5px;
    border: 2px solid @primary-gray;

    @radius: 6px;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;

    @chat-bubble-width: 28px;
    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: @chat-bubble-width/2 - 7px;
      bottom: 27px;
      border-bottom: 10px solid;
      border-left: 5px solid;
      border-right: 5px solid;
      border-color: transparent transparent @primary-gray transparent;
    }

    &:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: @chat-bubble-width/2 - 6px;
      bottom: 25px;
      border-bottom: 8px solid;
      border-left: 4px solid;
      border-right: 4px solid;
      border-color: transparent transparent white transparent;
    }
  }
}