@import "../../App/colors";

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 999;
  text-align: center;
  color: @text-gray;

  h3 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: calc(~'50% - 24px');
  }
}