@import "../../App/colors";

.ys-table {
  font-size: 14px;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .45);

  thead > tr {
    &.header {
      background: @charcoal-grey;
      color: @light-grey;
    }
    &.status {
      background: @success-green;
      color: white;
    }
  }

  tbody > tr {
    background: white;
  }

  td {
    padding: 20px;
  }

  th {
    padding: 15px;
    font-weight: 500;
  }
}