@import "../App/colors";

.buttons-footer {
  .footer-button {
    background: @primary-blue;
    color: white;
    min-width: 130px;
    text-align: center;
    padding: 8px 16px;
    margin: 5px;

    @radius: 6px;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
  }
}