@import "../App/colors";

.buttons-footer {
  .footer-button {
    background: @primary-blue;
    font-size: 12px;
    color: white;
    min-width: 130px;
    text-align: center;
    padding: 8px 16px;
    margin: 5px;

    @radius: 6px;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
  }
}

.bubble {
  .bubble-square {
    margin-top: 5px;
    padding: 5px 8px;
    border: 2px solid @primary-gray;
    background: white;
    font-weight: bold;
    color: @text-gray;

    @radius: 6px;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
  }

  .bubble-dash {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;

    &.bubble-dash-out {
      bottom: 29px;
      border-bottom: 10px solid;
      border-left: 5px solid;
      border-right: 5px solid;
      border-color: transparent transparent @primary-gray transparent;
    }

    &.bubble-dash-in {
      bottom: 27px;
      border-bottom: 8px solid;
      border-left: 4px solid;
      border-right: 4px solid;
      border-color: transparent transparent white transparent;
    }
  }
}

.spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;

  i {
    position: absolute;
    color: @primary-blue;
    top: calc(~'50% - 24px');
    left: calc(~'50% - 30px');
  }
}